/* CSS Global Style Start here */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

/* CSS Global style END here */

.logo-cls{
    
    max-width: 100%;
    width: 20rem;
}
