/* *import google font [Orbitron],[Barlow Condensed], [Montserrat] */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

/* * CSS Global Style START here */
:root{
    --font-logo:"Orbitron";
    --font-Heading:"Barlow Condensed";
    --font-body: "Montserrat";

/* todo Color variables continious texting */

    --color-bg:hsl(217, 66%, 64%);
    --color-container:hsl(186, 34%, 60%);
    --color-head: hsl(217, 66%, 64%); 
    --color-btn:hsl(20, 99%, 60%);
    --color-text:hsl(266, 91%, 14%);
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 4rem;
    background-color:var(--color-bg);
    line-height: 1.5rem;
    font-family: var(--font-body), sans-serif;
}
h1,h2,h3,h4,h5{
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    line-height: 1.2rem;
    font-family: var(--font-Heading);
    font-size: 3rem;
    color: var(--color-text);
}
a{
    text-decoration: none;
    color: var();
    transition: all 0.4s ease;
    font-family: var(--font-body),sans-serif;
}
a:hover{
    color: var();
}
img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    border: 1px solid var(--color-text);
    box-shadow: #ffff;
    border-radius: 1.5rem;
} /* ! CSS Global style END here */


/* * START Design logo */
/* ? Logo is also my header. I use logo for my [headder] class. */
.logo{
  
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: baseline;
    padding: 1rem;
    /* todo [Fonts are broken on small screen size] */
    /* ? Maybe need to use [media query] */
}
.logo-text{
    font-family: var(--font-logo);
    font-size: 4rem;
    color: var(--color-text);

}
.fa-gift{
    padding: 1rem;
    font-size: 4rem;
} /* ! Logo Design END */

/* ? Button Design START */
.btn-size{
    padding:0.5rem 3rem;
    margin: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 1rem;
    background-color: var(--color-btn);
    border: none;
    text-align: center;
    color: var(--color-text);
} /* !Button Design END */

/* ? Container & Body Design START */

.container{
    text-align: center;
    justify-content: space-around;
}
.my-col-box{
    background-color: var(--color-container);
    border-radius: 0.5rem;
    margin: 2rem 2rem;
    padding: 2rem;
}
/* ! Container & Body Design END */

/* * For Mobile size */

@media only screen and (max-width:600px) {

    .logo-text{
        font-size: 3rem;
}